.boardWrapper {
  max-width: 1400px;
  width: 100%;
  min-height: 200px;
  display: flex;
  padding: 20px;
  gap: 30px;
  align-items: start;
}

.board {
  width: calc((100% - 60px) / 3);

  flex-direction: column;
}

.boardPaper {
  min-height: 100vh;
  background-color: rgb(196, 229, 196);
  padding: 10px;
  display: flex;
  width: 100%;
}

.boardTitle {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.issueCard {
  margin-bottom: 10px;
  padding: 6px;
  cursor: grab;
  width: 100%;
}

.issueTitle {
    font-weight: 600;
}

.rowFlexBox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}