.boardWrapper {
  max-width: 1400px;
  width: 100%;
  min-height: 200px;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
}

.board {
  width: calc((100% - 40px) / 3);
  flex-direction: column;
}

.boardPaper {
  min-height: 100vh;
  padding: 15px;
  display: flex;
  width: 100%;
  background-color: #aebac9;
  box-shadow: inset 0px 0px 123px 56px rgba(0,0,0,0.81);
}

.boardTitle {
  text-align: center;
  width: 100%;
}

.issueCard {
  margin-bottom: 10px;
  padding: 6px;
  cursor: grab;
  width: 100%;
}

.issueTitle {
    font-weight: 600;
}
